In [1]:
import pandas as pd
import pyreadr
import matplotlib.pyplot as plt

In [40]:
from unemployed_work.config import FAMILY_INTERVIEW_ID_MATCHING

ImportError: cannot import name 'FAMILY_STATUS_VARIABLE_NAMES' from 'unemployed_work.config' (/Users/nicolasroever/Desktop/Unemployed_Work/unemployed_work/src/unemployed_work/config.py)

# Step 2: Merge wave files to panel

# Step 1: Make Individual File to Long Format

In [19]:
individual_data = pyreadr.read_r('/Users/nicolasroever/Desktop/Unemployed_Work/unemployed_work/src/unemployed_work/data/PSID_RDS/IND2021.rda')['data']

In [27]:
individual_data["Individual_ID"] = (individual_data["ER30001"] * 1000) + individual_data["ER30002"].astype(int)

In [46]:
FAMILY_STATUS_VARIABLE_NAMES = {
1968: 'ER30003',
1969: 'ER30022',
1970: 'ER30045',
1971: 'ER30069',
1972: 'ER30093',
1973: 'ER30119',
1974: 'ER30140',
1975: 'ER30162',
1976: 'ER30190',
1977: 'ER30219',
1978: 'ER30248',
1979: 'ER30285',
1980: 'ER30315',
1981: 'ER30345',
1982: 'ER30375',
1983: 'ER30401',
1984: 'ER30431',
1985: 'ER30465',
1986: 'ER30500',
1987: 'ER30537',
1988: 'ER30572',
1989: 'ER30608',
1990: 'ER30644',
1991: 'ER30691',
1992: 'ER30735',
1993: 'ER30808',
1994: 'ER33103',
1995: 'ER33203',
1996: 'ER33303',
1997: 'ER33403',
1999: 'ER33503',
2001: 'ER33603',
2003: 'ER33703',
2005: 'ER33803',
2007: 'ER33903',
2009: 'ER34003',
2011: 'ER34103',
2013: 'ER34203',
2015: 'ER34303',
2017: 'ER34503',
2019: 'ER34703',
2021: 'ER34903'
}

In [44]:
test_data = pd.DataFrame({
"Individual_ID": [1, 2],
"ER30001": [1.0, 1.0],
"ER30002": [1.0, 2.0],
"ER30020": [1597.0, 1597.0],
"ER30043": [1331.0, 1331.0],
"ER30022": [1.0, 2.0],
"ER30045": [1, 2]})


test_data

   Individual_ID  ER30001  ER30002  ER30020  ER30043  ER30022  ER30045
0              1      1.0      1.0   1597.0   1331.0      1.0        1
1              2      1.0      2.0   1597.0   1331.0      2.0        2

In [45]:
family_interview_numbers_dataset = test_data[["Individual_ID", "ER30020", "ER30043"]]

family_file_interiew_number_long = family_interview_numbers_dataset.melt(id_vars=["Individual_ID"], value_vars=["ER30020", "ER30043"], var_name="Family_Interview_Number_Type", value_name="Family_Interview_Number")

family_file_interiew_number_long["Year"] = family_file_interiew_number_long["Family_Interview_Number_Type"].map(dict(zip(FAMILY_INTERVIEW_ID_MATCHING["Individual_File"], FAMILY_INTERVIEW_ID_MATCHING["Year"])))

family_file_interiew_number_long

   Individual_ID Family_Interview_Number_Type  Family_Interview_Number  Year
0              1                      ER30020                   1597.0  1969
1              2                      ER30020                   1597.0  1969
2              1                      ER30043                   1331.0  1970
3              2                      ER30043                   1331.0  1970

In [55]:
FAMILY_STATUS_VARIABLE_NAMES.values()

dict_values(['ER30003', 'ER30022', 'ER30045', 'ER30069', 'ER30093', 'ER30119', 'ER30140', 'ER30162', 'ER30190', 'ER30219', 'ER30248', 'ER30285', 'ER30315', 'ER30345', 'ER30375', 'ER30401', 'ER30431', 'ER30465', 'ER30500', 'ER30537', 'ER30572', 'ER30608', 'ER30644', 'ER30691', 'ER30735', 'ER30808', 'ER33103', 'ER33203', 'ER33303', 'ER33403', 'ER33503', 'ER33603', 'ER33703', 'ER33803', 'ER33903', 'ER34003', 'ER34103', 'ER34203', 'ER34303', 'ER34503', 'ER34703', 'ER34903'])

In [52]:
relation_to_head_dataset = test_data[["Individual_ID", "ER30022", "ER30045"]]

relation_to_head_long = relation_to_head_dataset.melt(id_vars=["Individual_ID"], value_vars=["ER30022", "ER30045"], var_name="Relation_To_Head_Variable_Name", value_name="Relation_To_Head_Value")

relation_to_head_long["Year"] = relation_to_head_long["Relation_To_Head_Variable_Name"].map({value: key for key, value in FAMILY_STATUS_VARIABLE_NAMES.items()})

relation_to_head_long

   Individual_ID Relation_To_Head_Variable_Name  Relation_To_Head_Value  Year
0              1                        ER30022                     1.0  1969
1              2                        ER30022                     2.0  1969
2              1                        ER30045                     1.0  1970
3              2                        ER30045                     2.0  1970

In [53]:
final_file = pd.merge(family_file_interiew_number_long, relation_to_head_long, on=["Individual_ID", "Year"], how="left", validate="one_to_one")

In [54]:
final_file

,Individual_ID,Family_Interview_Number_Type,Family_Interview_Number,Year,Relation_To_Head_Variable_Name,Relation_To_Head_Value
0,1,ER30020,1597.0,1969,ER30022,1.0
1,2,ER30020,1597.0,1969,ER30022,2.0
2,1,ER30043,1331.0,1970,ER30045,1.0
3,2,ER30043,1331.0,1970,ER30045,2.0

In [18]:
FAMILY_STATUS_MAPPING = { 10: "Head", 
 20 : "Wife",
 22 : "Wife" 
}


#10 is head, 20 is legal wife, 22 is female cohabitor
FAMILY_STATUS_VARIABLE_NAMES = {
    1968: 'ER30003',
    1969: 'ER30022',
    1970: 'ER30045',
    1971: 'ER30069',
    1972: 'ER30093',
    1973: 'ER30119',
    1974: 'ER30140',
    1975: 'ER30162',
    1976: 'ER30190',
    1977: 'ER30219',
    1978: 'ER30248',
    1979: 'ER30285',
    1980: 'ER30315',
    1981: 'ER30345',
    1982: 'ER30375',
    1983: 'ER30401',
    1984: 'ER30431',
    1985: 'ER30465',
    1986: 'ER30500',
    1987: 'ER30537',
    1988: 'ER30572',
    1989: 'ER30608',
    1990: 'ER30644',
    1991: 'ER30691',
    1992: 'ER30735',
    1993: 'ER30808',
    1994: 'ER33103',
    1995: 'ER33203',
    1996: 'ER33303',
    1997: 'ER33403',
    1999: 'ER33503',
    2001: 'ER33603',
    2003: 'ER33703',
    2005: 'ER33803',
    2007: 'ER33903',
    2009: 'ER34003',
    2011: 'ER34103',
    2013: 'ER34203',
    2015: 'ER34303',
    2017: 'ER34503',
    2019: 'ER34703',
    2021: 'ER34903'
}


#BE CAREFUL! THE Question is about the PREVIOUS YEAR
HEAD_LABOR_INCOME_VARIABLE_NAMES =  {
    1968: 'V74', 1969: 'V514', 1970: 'V1196', 1971: 'V1897', 1972: 'V2498', 1973: 'V3051',
    1974: 'V3463', 1975: 'V3863', 1976: 'V5031', 1977: 'V5627', 1978: 'V6174', 1979: 'V6767',
    1980: 'V7413', 1981: 'V8066', 1982: 'V8690', 1983: 'V9376', 1984: 'V11023', 1985: 'V12372',
    1986: 'V13624', 1987: 'V14671', 1988: 'V16145', 1989: 'V17534', 1990: 'V18878', 1991: 'V20178',
    1992: 'V21484', 1993: 'V23323', 1994: 'ER4140', 1995: 'ER6980', 1996: 'ER9231', 1997: 'ER12080',
    1999: 'ER16463', 2001: 'ER20443', 2003: 'ER24116', 2005: 'ER27931', 2007: 'ER40921', 2009: 'ER46829',
    2011: 'ER52237', 2013: 'ER58038', 2015: 'ER65216', 2017: 'ER71293', 2019: 'ER77315', 2021: 'ER81642'
}




#BE CAREFUL! THE Question is about the PREVIOUS YEAR
SPOUSE_LABOR_INCOME_VARIABLE_NAMES = {
    1968: 'V75',
    1969: 'V516',
    1970: 'V1198',
    1971: 'V1899',
    1972: 'V2500',
    1973: 'V3053',
    1974: 'V3465',
    1975: 'V3865',
    1976: 'V4379',
    1977: 'V5289',
    1978: 'V5788',
    1979: 'V6398',
    1980: 'V6988',
    1981: 'V7580',
    1982: 'V8273',
    1983: 'V8881',
    1984: 'V10263',
    1985: 'V11404',
    1986: 'V12803',
    1987: 'V13905',
    1988: 'V14920',
    1989: 'V16420',
    1990: 'V17836',
    1991: 'V19136',
    1992: 'V20436',
    1993: 'V23324',
    1993: 'V21807',
    1994: 'ER4144',
    1995: 'ER6984',
    1996: 'ER9235',
    1997: 'ER12082',
    1999: 'ER16465',
    2001: 'ER20447',
    2003: 'ER24135',
    2005: 'ER27943',
    2007: 'ER40933',
    2009: 'ER46841',
    2011: 'ER52249',
    2013: 'ER58050',
    2015: 'ER65244',
    2017: 'ER71321',
    2019: 'ER77343',
    2021: 'ER81670'
}

In [3]:
family_wave_data = pyreadr.read_r('/Users/nicolasroever/Desktop/Unemployed_Work/unemployed_work/src/unemployed_work/data/PSID_RDS/FAM1968.rda')['data']

In [6]:
year = 1968
individual_file_interview_number = FAMILY_INTERVIEW_ID_MATCHING.loc[FAMILY_INTERVIEW_ID_MATCHING['Year'] == year, 'Individual_File'].values[0]

family_file_interiew_number = FAMILY_INTERVIEW_ID_MATCHING.loc[FAMILY_INTERVIEW_ID_MATCHING['Year'] == year, 'Family_File'].values[0]

In [8]:
individual_data_family_wave = pd.merge(individual_data, family_wave_data, left_on=individual_file_interview_number, right_on=family_file_interiew_number, how='left', validate='m:1')

In [17]:
family_status_variable_name = FAMILY_STATUS_VARIABLE_NAMES[year]
individual_data_family_wave[f"Family_Status_{year}"] = individual_data_family_wave[family_status_variable_name].map(FAMILY_STATUS_MAPPING)

In [ ]:
head_income_variable_id = HEAD_LABOR_INCOME_VARIABLE_NAMES[year]
spouse_income_variable_id = SPOUSE_LABOR_INCOME_VARIABLE_NAMES[year]

In [ ]:
individual_data_family_wave['Head_Income'] = individual_data_family_wave[head_income_variable_id]